# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

common.mk
cscope.out
.cproject
.project
*.bak
*.bakNew
*.orig
*.html
GPATH
GTAGS
GRTAGS
tags
tags.json
.envrc

